/*Global Styles */
html, body{
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(270, 10%, 96%);
  overflow:auto
  }
  /* Typography */
h1 {
  font-size: clamp(1.5rem, 7vw, 3rem);
  text-align: left;
}
h2{
  font-size: clamp(1.3rem, 5vw, 2rem);
  text-align: left;
}
h3 {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: left;
}

p {
  font-size: clamp(.5rem, 2vw, 1rem);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

/* Links */
a {
  color: hsl(205, 58%, 44%);
  font-size: clamp(.5rem, 2vw, 1rem);
  text-decoration: underline;
  font-family: 'Courier New', Courier, monospace;
}
 
/* Global Container */
.container { 
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0 clamp(0.1rem, 1rem + 8vw, 18rem);
  border: 3px solid #454545;
  background-color: #f6f3f3;
  padding: 0 clamp(1rem, 1rem + 8vw, 10rem);
}


/* Content Container Classes
#content-container{
  padding: 0 clamp(1rem, 1rem + 8vw, 10rem);
} */

#job-title {
  text-align: center;
  font-family: Georgia, Times, 'Times New Roman', serif;
  text-decoration: underline;
}
#section {
  text-decoration: underline;
}
/* Banner Classes */
#header {
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: #3c3a3a;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#header img {
  max-width: clamp(3rem, 10vw, 30rem);
  max-height: 95%;
  object-fit: scale-down;
  float:left;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 0 0 1px hsl(0, 0%, 0%), 0 0 0 2px hsl(0, 0%, 90%);
}
#header pre {
  color: #d9d4d4;
  font-size: clamp(0.5rem, 1vw, 2rem);
}

/* Grid Classes */
.grid-container {
  display: grid;
  grid-gap: 3rem; /* Space between the grid items */
  margin: 5px auto;
  justify-content: stretch; /* potentially no reason to do this */
  width: clamp(15rem, 30px + 60vw, 80rem);
  grid-template-columns: 1fr 1fr;
}

/* uncomment for experience section-specific changes */
#experience.grid-container{ 
  grid-template-columns: 1fr
}

/* uncomment for projects section-specific changes 
/* #projects.grid-container{
} */

.grid-item {
  background-color: #fffefe;
  margin: 10px;
  padding: 10px;
  text-align: start;
  font-size: clamp(1rem, 1vw, 20rem);

  /* border definition */
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(181, 186, 191);
}

/* grid definitions for project cards*/
.project-container {
  background-color: white;
  align-items: center;
  max-width: clamp(10rem, 40rem + 1vw, 80rem);
  max-height: auto;
  display: grid;
  grid-template-rows: repeat(.8fr, 1fr);
  overflow: auto;
  margin: 5px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgb(181, 186, 191);
}
.project-image img{
  max-width: 100%;
  max-height: auto;
  grid-row-start: 1;
  display: grid;
  width:100%;
  border-radius: 5px;
}
.project-body {
  grid-row-start: 2;
  display: table;
  font-size: clamp(.20rem, 1vmin, 2rem);
  margin: 2rem 2rem 2rem 2rem;
  background-color: white;
}
#title.project-body {
  font-weight: bold;
  vertical-align: text-top;
  text-transform: capitalize;
  font-family: 'Righteous', sans-serif;
  font-size: clamp(.20rem, 1rem + 1.4vw, 3rem);

}
#subject.project-body {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: clamp(.20rem, 1rem + .1vw, 3rem);
  text-align: left;
}
#link.project-body {
  text-align: left;
  vertical-align: bottom;
  margin: 30px 0px 3px 3px;
  color: blue;
  text-decoration-line: underline;
  font-size: clamp(.5rem, .4rem + 1vw, 2rem);
}

/* Media Queries */
@media screen and (max-width: 900px){
  .container {
    max-width: 100%;
    max-height: 100%;
    margin: 0 1rem;
  }
  .grid-container{
     grid-template-columns: 1fr;
  }
  .project-container{
    max-width: 100%;
    max-height: 100%;
    margin: 0 1rem;
  }
  #banner {
    max-height: -moz-fit-content;
    max-height: fit-content;
    flex-wrap: wrap;
  }
  #banner img {
    max-width:  clamp( 4rem,3vw, 15rem);
    max-height: auto;
    
  }
  #banner pre{
    font-size: clamp(.4rem, .2rem + .8vw, .8rem);
  }
  
}

